<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <title>Bookster</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

</head>
<html>


<body>
    <div class='container'>
        <!--import navbar -->
        <% if (authenticatedUser) { %>
        <%- include ./partials/authNavigation.ejs %>
        <%  } else { %>
        <%- include ./partials/navigation.ejs %>
        <%  } %>
        <main>

          <% if(error){ %>
        <div>
          <p><%= error %></p>
        </div>
        <% } %>
        <% if(success){ %>
          <div>
            <p><%= success %></p>
          </div>
        <% } %>

          <div class = "bookContainer">
            <% if(books) { %>
              <% for(var i = 0; i < books.length; i++){ %>
                <div class = "bookItem">
                  <h1><%=books[i].title %></h1>
                  <img src = "<%=books[i].bookImageURL %>">
                  <p>by: <%=books[i].author %></p>
                  <% if(userID != false) { %>
                  <% if(!books[i].ownedBy.includes(userID)){%>
                    <button data-bookOwnerID = "<%=books[i].ownedBy %>" data-bookID ="<%=books[i]['_id'] %>" class = "requestButton">Request</button>
                    <% } %>
                  <% } %>

                </div>


                  <% } %>
                    <% } %>

            <div>

              <!-- The Modal -->
              <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                  <form action = "/send-request" method = "post">
                  <span class="close">&times;</span>
                  <input id = "modalBookReceiveId" type = "hidden" name = "bookToReceiveID" value = "">
                  <input id = "modalBookOwnerID" type = "hidden" name = "bookOwnerID" value = "">
                  <h1>Select which book you'd like to trade</h1>
                  <select name="bookToSendID" id = "modalDropdown">
                    <% if(userBooks) { %>

                      <% for(var i = 0; i < userBooks.length; i++){ %>
                    <option value="<%=userBooks[i]['_id'] %>"><%=userBooks[i].title %></option>
                   <% } %>
                  </select>
                  <input type = "submit" value = "Submit">


                    <% } %>
                </form>

                </div>
              </div>

        </main>
    </div>
</body>
<!--import footer -->
<%- include ./partials/footer.ejs %>
<script class = 'modal-input' type="text/javascript" src="./javascript/modal.js"></script>

</html>
