<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <title>Bookster</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

</head>
<html>


<body>
    <div class='container'>
        <!--import navbar -->
        <% if (authenticatedUser) { %>
        <%- include ./partials/authNavigation.ejs %>
        <%  } else { %>
        <%- include ./partials/navigation.ejs %>
        <%  } %>
        <main>
          <div class = "tradeContainer">

            <div class = "pendingTradesContainer">
              <h1>Trades Offers Received</h1>

              <% for(let i = 0; i < requestPendingBooksOffered.length; i++) { %>
                <div class = "tradeItemContainer">
                <div class = 'tradeItem'>
                  <div class = 'tradeSubItem'>
                <h5>Offer: <%=requestPendingBooksOffered[i].title %></h5>
                <img src = "<%=requestPendingBooksOffered[i].bookImageURL %>">

                </div>

                <div class = 'tradeSubItem'>
                <h5>Receive: <%=requestPendingBooksReceiving[i].title %></h5>
                <img src = "<%=requestPendingBooksReceiving[i].bookImageURL %>">
                </div>
                </div>
                  <div class = "formSpan">
                  <form method = 'POST' action = '/trades/accept'>
                    <input type = 'hidden' name = 'requestToAccept' value = '<%=requestPendingArray[i].requestID %>'>
                    <input type = 'hidden' name = 'bookToReceive' value = "<%=requestPendingBooksReceiving[i]['_id'] %>">
                    <input type = 'hidden' name = 'bookToSend' value = "<%=requestPendingBooksOffered[i]['_id'] %>">
                    <input type = 'hidden' name = 'otherUserID' value = "<%=requestPendingArray[i].bookOwnerID %>">
                    <input type = 'hidden' name = 'requestID' value = '<%=requestPendingArray[i].requestID %>'>
                    <input class = "acceptInput" type = "submit" value = 'Accept'>

              </form>
              <form method = 'POST' action = '/trades/cancel'>
                <input type = 'hidden' name = 'requestToDecline' value = '<%=requestPendingArray[i].requestID %>'>
                <input class = "declineInput" type = "submit" value = 'Decline'>

              </form>
              </div>
            </div>



          <%  } %>
            </div>

            <div class = "sentTradesContainer">
            <h1>Trades Offers Sent</h1>
              <% for(let i = 0; i < requestSentBooksOffered.length; i++) { %>
                    <div class = "tradeItemContainer">
                <div class = 'tradeItem'>
                  <div class = 'tradeSubItem'>
                <h5>Offer: <%=requestSentBooksOffered[i].title %></h5>
                <img src = "<%=requestSentBooksOffered[i].bookImageURL %>">

                </div>

                <div class = 'tradeSubItem'>
                <h5>Receive: <%=requestSentBooksReceiving[i].title %></h5>
                <img src = "<%=requestSentBooksReceiving[i].bookImageURL %>">

                </div>
                </div>
                <div class = 'formSpan'>
                  <form method = "POST" action = '/trades/cancel'>
                    <input type = 'hidden' name = 'requestID' value = '<%=requestSentId[i] %>'>
                  <input class = "declineInput" type = 'submit' value = "Cancel">
                </form>
                </div>
              </div>
          <%  } %>
            </div>
          </div>

</div>

        <!-- for Req.flash -->
        <% if(error && error.length > 0){ %>
          <div class = "flashPage" id = "flashPageID">
        <div class = "ui error">
        <p><%= error %></p>
        </div>
        </div>
        <% } %>
        <% if(success && success.length > 0){ %>
        <div class = "flashPage" id = "flashPageID">
        <div class = "ui success">
          <p><%= success[0] %></p><br>
          <p><%= success[1] %></p>
        </div>
        </div>
        <% } %>
        </main>

</body>
<!--import footer -->
<%- include ./partials/footer.ejs %>
<script>
    document.onclick = function(event) {
        if (document.getElementById('flashPageID')) {
            document.getElementById('flashPageID').style.display = "none";
        }
    }
</script>


</html>
