<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <title>Bookster</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

</head>
<html>


<body>
    <div class='container'>
        <!--import navbar -->
        <% if (authenticatedUser) { %>
        <%- include ./partials/authNavigation.ejs %>
        <%  } else { %>
        <%- include ./partials/navigation.ejs %>
        <%  } %>
        <main>
          <div>
            <% if(userData) { %>
            <div>
            <h1>Your Trade Requests <button><a href = '/trades'><%=userData.requestsSent.length %></a></button></h1>
          </div>

          <div>
            <h1>Your Pending Requests <button><a href = '/trades'><%=userData.requestsPending.length %></a></button></h1>
        </div>
        <% } %>
          </div>
          <div class = "userPageContainer">

            <div class = 'addBookContainer'>

            <div class = 'resultItem'>
            <input type = "text" id = "searchInput" name = "bookTitle" value = "Book Title" onFocus="clearInput()">
            <button onclick="getBooks()">Search</button>
            <div id = "bookResultContainer">
            </div>


            </div>
            <% if(bookData) { %>
            <% for(var i = 0; i < bookData.length; i++){ %>
            <% var imgURL = "null" %>
            <% if(typeof bookData[i].volumeInfo.imageLinks != "undefined") {%>
            <% imgURL = bookData[i].volumeInfo.imageLinks.smallThumbnail %>
            <% } %>
              <div class = "bookItem">

                <form method = "POST" action = '/user/add-book'>
                <p><%=bookData[i].volumeInfo.title %></p>
                <img src = "<%=imgURL %>">

                  <input type= "hidden" name="bookTitle" value="<%=bookData[i].volumeInfo.title %>">
                  <input type= "hidden" name="bookAuthor" value="<%=bookData[i].volumeInfo.authors %>">
                  <input type= "hidden" name="bookImageUrl" value="<%=imgURL %>">
                  <input type= "hidden" name="bookID" value="<%=bookData[i].id %>">
                  <input type = "submit" value = "add book">
              </form>
            </div>
        <%    } %>
        <%    } %>
      </div>

      <div class = 'userBookContainer'>
      <% if(userBooks) { %>
        <% for(var i = 0; i < userBooks.length; i++){ %>
          <div class = "bookItem">
            <h1><%=userBooks[i].title %></h1>
            <img src = "<%=userBooks[i].bookImageURL %>">
            <p>by: <%=userBooks[i].author %></p>

          </div>


            <% } %>
              <% } %>
            </div>

            </div>

        </main>
      </div>
</body>
<!--import footer -->
<%- include ./partials/footer.ejs %>
<script class = 'modal-input' type="text/javascript" src="./javascript/booksearch.js"></script>


</html>
